@charset "UTF-8" ;

*{
    margin: 0px;
    padding: 0px;
}

header{
background-color: rgb(70, 160, 215);
height: 180px;
}
header > h1{
    text-align: center;
    padding: 40px;
}
body{
    background-image: url(imagens/wallpaper004.jpg);
    background-attachment: fixed;
}
a >img {
    width: 30px;
    height: 30px;
    padding: 10px;
    
}

#p1{
    display:flex;
}
.fundo{
    border-radius: 15px;
    border: solid black 2px;
    margin: 20px;
    padding: 30px;
    

}


img#jr{
    width: 200px;
    height:250px;
    box-shadow: 1px 10px 10px;
    border-radius: 10px;
    margin: 50px;
}