@charset "UTF-8" ;

body{
    background-image: url('imagens/wallpaper004.jpg');
    
}
main{
    border-radius: 10px;
    border:solid 2px black;
    background-color: rgb(45, 150, 215);
    text-align: right;
    margin-bottom: 70px;
    padding: 40px;
}
.container {
    text-align: justify;
    display: flex;
    align-items: center;
    
}
img{
    
}

button{
    width: 120px;
    height: 40px;
    border-style: solid;
}
h1{
    color: aliceblue;
    text-align: center;
}
p {
    margin-left: 20px;
    margin-right: 20px;
}
#DIVS{
    display: flex;
}
#titulos{
    margin-left: 30px;
}
.experiencia{
    background-color: rgb(45, 150, 215);
    color: rgb(0, 0, 0);
    text-align: justify;
    padding-bottom: 20px;
    border-style: solid ;
    margin-left: 10px;
    border-radius:10px ;
    /*display: inline;*/
}

