@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 40px;
    padding-bottom:30px;
    height: 100px;   
}



div#b1{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
}
div#b2{
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
div#b2 > p {
    color: white;
    background-color: rgba(32, 34, 34, 0.585);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
}
div#b3{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    margin-bottom: 30px;
}
div#b4 {
    background-image: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
  div#b4 > p{
    
    color: rgb(253, 251, 251);
    background-color: rgba(32, 34, 34, 0.585);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 200px;
    
    margin-bottom: 50px;
    margin-left: 30px;
}

    

    div#b5{
        margin-top: 50px;
        background-color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        
    }

    
    footer{
        background-color: black;
        color: white;
        height: 100px;
        text-align: center;
    }

    footer > p{
        padding: 40px;
    }