@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 40px;
    padding-bottom:30px;
    height: 100px;   
}
    section{
        line-height: 2em;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    section.imagem{
        background-color: black;
        padding-left: 50px;
        color: white;
    }
    section.padrao{
        background-color: rgb(255, 255, 255);
        padding-left: 50px;
    }
    
    section.imagem > p {
        background-color: rgba(47, 45, 45, 0.39);
        width: 250px;
        padding: 20px;
    }
    section#b2{
        background-image: url('imagens/background001.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    section#b4{
        background-image: url('imagens/background002.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    footer{
        background-color: black;
        color: white;
        height: 100px;
        text-align: center;
    }

    footer > p{
        padding: 40px;
    }